.profile__profession {
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .profile__profession {
    font-size: 14px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 620px) {
  .profile__profession {
    text-align: center;
    margin-bottom: 30px;
  }
}